.table {
    background-color: #474045;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    width:100%;

    display: flex;
    justify-content: center;
}

.b {
    color: blueviolet;
    display: block;
    padding: 0.5rem 1rem;
    
    

}
.filter{
    width:100%;
    
}
.boton{
    padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
 
}
.h2{
    display: flex;
}