<div class="layout">
    <div class="row">
        <mat-toolbar class="layout">
           
            <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
        
            <span>Opciones</span>
            <span class="example-spacer"></span>
            <div class="example_spacer">
        </div>
        
            <button mat-icon-button class="example-icon" (click)="Close()" aria-label="Example icon-button with share icon">
          
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    </div>
    <router-outlet></router-outlet>
